* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
/* navbar design */
.container {
  background-color: #1c2643;
  color: white;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/*logo design*/

.logo img {
  max-height: 90px;
  width: auto;
  margin-left: 50px;
}
/*nav-tab design*/
.nav-tabs {
  display: flex;
  list-style: none;
}
.nav-tabs li {
  margin: 20px;
  padding: 10px 20px;
}
.nav-tabs li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.nav-tabs li a:hover {
  color: rgb(222, 170, 14);
  background-color: transparent;
}

/*  homepage body design  */

/* hero section design  */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f9ff;
}

.hero-content {
  width: 50%;
  height: 100vh;
  /* background-color: #007bff; */
}

.hero-content h1 {
  font-size: 65px;
  color: #1a2b4c;
  margin : 20px;
  padding-top: 200px;
  padding-left: 50px;
}

.hero-content p {
  font-size: 20px;
  color: #444;
  line-height: 1.6;
  margin : 20px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.btn {
  margin: 20px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.primary {
  background: #007bff;
  color: white;
}

.secondary {
  background: white;
  border: 2px solid #007bff;
  color: #007bff;
}

.hero-image {
  width: 50%; 
  height: 100vh;
  /* background-color: #d71052; */
}
.hero-image img {
  width: 1000px;
  height: 900px;
}
/* ================= FEATURES SECTION ================= */

.features {
  padding: 70px 10%;
  text-align: center;
}

.features h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #1a2b4c;
}

.feature-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 12px;
  font-size: 25px;
}
.card ul{
  padding-left: 20px;
  margin:0;
}
.card ul li {
  font-size: 18px;
  color: #555;
  margin-left: 25px;
  line-height:25px;
  padding-left: 0px;
  text-align: left;
}
/* ================= STEPS SECTION ================= */

.steps {
  background: #eef3ff;
  padding: 70px 10%;
  text-align: center;
}

.steps h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.step-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.step {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.step h3 {
  margin-bottom: 10px;
  font-size: 18px;
}


/* ================= CTA SECTION ================= */

.cta {
  padding: 70px 10%;
  text-align: center;
  background: #7196bd;
  color: white;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.cta p {
  font-size: 16px;
  margin-bottom: 25px;
}

/* Footer design  */
.footer-1 {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding: 70px;
  color: white;
  background-color: #0f151b;
}
.para {
  font-size: 15px;
  color: gray;
}
.footer-1 li {
  list-style: none;
}
.footer-1 li a {
  text-decoration: none;
  color: white;
}
.footer-1 li a:hover {
  color: rgb(222, 170, 14);
}
.copy-rights {
  height: 60px;
  width: 100%;
  padding: 15px;
  color: white;
  background-color: #0f151b;
  text-align: center;
}
.social {
  font-size: 30px;
  transition: 0.3s;
}
.social a {
  margin: 12px;
}
.fa-facebook,
.fa-x-twitter,
.fa-youtube,
.fa-instagram {
  font-size: 30px;
  padding-top: 20px;
}
.social i:hover {
  transform: scale(1.1, 1.1);
}
.about li {
  margin-top: 10px;
}
.faq {
  display: block;
  margin-top: 10px;
}
